In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("Census_Housing_Value_Block_Groups.csv")  

print(df.duplicated().sum())
print(df.isna().sum())
# Buckets for housing values
value_cols_low = [
    'lessthan10k','a10kto14999','a15kto19999','a20kto24999',
    'a25kto29999','a30kto34999','a35kto39999','a40kto49999',
    'a50kto59999','a60kto69999','a70kto79999','a80kto89999',
    'a90kto99999','a100kto124999','a125kto149999'
]
value_cols_mid = [
    'a150kto174999','a175kto199999','a200kto249999',
    'a250kto299999','a300kto399999'
]
value_cols_high = [
    'a400kto499999','a500kto749999','a750kto999999',
    'a1Mto1499999','a1500000to1999999','a2MorMore'
]

all_value_cols = value_cols_low + value_cols_mid + value_cols_high
# Convert values to numbers and handle zeros
for col in all_value_cols + ['houses', 'Median_Housing_Value', 'MedianGrossRent']:
    df[col] = pd.to_numeric(df[col], errors='coerce')
df[['houses','Median_Housing_Value','MedianGrossRent']] = \
    df[['houses','Median_Housing_Value','MedianGrossRent']].replace(0, np.nan)

df['Affordable'] = df[value_cols_low].sum(axis=1)
df['Middle']     = df[value_cols_mid].sum(axis=1)
df['HighEnd']    = df[value_cols_high].sum(axis=1)
# Create affordability index
df['Affordability_Index'] = df['Affordable'] / df['houses']
df['Affordability_Index'] = df['Affordability_Index'].fillna(0)
df.head()

0
OBJECTID                 0
STATEFP10                0
COUNTYFP10               0
TRACTCE10                0
BLKGRPCE10               0
GEOID10                  0
NAMELSAD10               0
geoname                  0
Median_Housing_Value    28
houses                   0
lessthan10k              0
a10kto14999              0
a15kto19999              0
a20kto24999              0
a25kto29999              0
a30kto34999              0
a35kto39999              0
a40kto49999              0
a50kto59999              0
a60kto69999              0
a70kto79999              0
a80kto89999              0
a90kto99999              0
a100kto124999            0
a125kto149999            0
a150kto174999            0
a175kto199999            0
a200kto249999            0
a250kto299999            0
a300kto399999            0
a400kto499999            0
a500kto749999            0
a750kto999999            0
a1Mto1499999             0
a1500000to1999999        0
a2MorMore                0
Units_with_cash_rent     0
MedianGrossRent          0
GlobalID                 0
Shape__Area              0
Shape__Length            0
dtype: int64

,OBJECTID,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,geoname,Median_Housing_Value,houses,...,a2MorMore,Units_with_cash_rent,MedianGrossRent,GlobalID,Shape__Area,Shape__Length,Affordable,Middle,HighEnd,Affordability_Index
0,2776,37,119,3808,1,371190038081,Block Group 1,"Block Group 1, Census Tract 38.08, Mecklenburg...",NaN,NaN,...,0,718,864.0,886f1f95-211e-4b01-8f6a-2c5e6a7280ab,3.185037e+06,7767.341578,0,0,0,0.000000
1,2777,37,119,5308,1,371190053081,Block Group 1,"Block Group 1, Census Tract 53.08, Mecklenburg...",99300.0,47.0,...,0,707,844.0,91a29768-6fd5-481b-939f-c4301d559794,5.507230e+06,14197.088607,34,6,7,0.723404
2,2778,37,119,5828,1,371190058281,Block Group 1,"Block Group 1, Census Tract 58.28, Mecklenburg...",403300.0,772.0,...,0,115,1210.0,cebeed93-7f44-4f15-ba10-e500bfac9d59,2.112925e+07,29150.969215,46,335,391,0.059585
3,2779,37,119,1508,1,371190015081,Block Group 1,"Block Group 1, Census Tract 15.08, Mecklenburg...",156300.0,659.0,...,0,237,1125.0,88c1fd5d-8291-4f8a-8eeb-6d9df7355942,2.961506e+07,24126.016494,290,369,0,0.440061
4,2780,37,119,1923,2,371190019232,Block Group 2,"Block Group 2, Census Tract 19.23, Mecklenburg...",142300.0,290.0,...,0,126,1361.0,0b52c4b1-77cf-4f55-b259-cc6c5170faed,8.883253e+06,20479.045626,169,121,0,0.582759