In [74]:
import pandas as pd
import numpy as np

In [75]:
df = pd.read_csv("Census_Housing_Value_Block_Groups.csv")  
df

,OBJECTID,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,geoname,Median_Housing_Value,houses,...,a500kto749999,a750kto999999,a1Mto1499999,a1500000to1999999,a2MorMore,Units_with_cash_rent,MedianGrossRent,GlobalID,Shape__Area,Shape__Length
0,2776,37,119,3808,1,371190038081,Block Group 1,"Block Group 1, Census Tract 38.08, Mecklenburg...",NaN,0,...,0,0,0,0,0,718,864,886f1f95-211e-4b01-8f6a-2c5e6a7280ab,3.185037e+06,7767.341578
1,2777,37,119,5308,1,371190053081,Block Group 1,"Block Group 1, Census Tract 53.08, Mecklenburg...",99300.0,47,...,7,0,0,0,0,707,844,91a29768-6fd5-481b-939f-c4301d559794,5.507230e+06,14197.088607
2,2778,37,119,5828,1,371190058281,Block Group 1,"Block Group 1, Census Tract 58.28, Mecklenburg...",403300.0,772,...,240,0,0,0,0,115,1210,cebeed93-7f44-4f15-ba10-e500bfac9d59,2.112925e+07,29150.969215
3,2779,37,119,1508,1,371190015081,Block Group 1,"Block Group 1, Census Tract 15.08, Mecklenburg...",156300.0,659,...,0,0,0,0,0,237,1125,88c1fd5d-8291-4f8a-8eeb-6d9df7355942,2.961506e+07,24126.016494
4,2780,37,119,1923,2,371190019232,Block Group 2,"Block Group 2, Census Tract 19.23, Mecklenburg...",142300.0,290,...,0,0,0,0,0,126,1361,0b52c4b1-77cf-4f55-b259-cc6c5170faed,8.883253e+06,20479.045626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,3326,37,119,3011,4,371190030114,Block Group 4,"Block Group 4, Census Tract 30.11, Mecklenburg...",1017900.0,83,...,5,17,21,0,22,264,1339,3008b285-0a2f-4bb9-9c86-74eacbbc3290,9.768893e+06,17034.263771
551,3327,37,119,6009,2,371190060092,Block Group 2,"Block Group 2, Census Tract 60.09, Mecklenburg...",167700.0,518,...,0,0,0,0,0,218,1685,58e300f1-aef2-4444-9fc0-bd16d805010d,2.599163e+07,27897.734815
552,3328,37,119,1915,1,371190019151,Block Group 1,"Block Group 1, Census Tract 19.15, Mecklenburg...",152700.0,244,...,0,0,0,17,0,452,806,70dc892b-f646-4b86-a1b7-b3458e1e97d7,7.660308e+06,12462.746385
553,3329,37,119,6209,3,371190062093,Block Group 3,"Block Group 3, Census Tract 62.09, Mecklenburg...",308800.0,404,...,33,0,0,0,0,444,1493,0dc553ba-cd09-435a-b592-9c6f19bdc55b,2.846470e+07,21854.463965
554,3330,37,119,5403,1,371190054031,Block Group 1,"Block Group 1, Census Tract 54.03, Mecklenburg...",124900.0,743,...,0,0,0,0,0,452,1018,476bae52-a95d-41df-9aab-e6e7bb398d86,4.179889e+07,35905.227580

In [76]:
df.columns

Index(['OBJECTID', 'STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLKGRPCE10',
       'GEOID10', 'NAMELSAD10', 'geoname', 'Median_Housing_Value', 'houses',
       'lessthan10k', 'a10kto14999', 'a15kto19999', 'a20kto24999',
       'a25kto29999', 'a30kto34999', 'a35kto39999', 'a40kto49999',
       'a50kto59999', 'a60kto69999', 'a70kto79999', 'a80kto89999',
       'a90kto99999', 'a100kto124999', 'a125kto149999', 'a150kto174999',
       'a175kto199999', 'a200kto249999', 'a250kto299999', 'a300kto399999',
       'a400kto499999', 'a500kto749999', 'a750kto999999', 'a1Mto1499999',
       'a1500000to1999999', 'a2MorMore', 'Units_with_cash_rent',
       'MedianGrossRent', 'GlobalID', 'Shape__Area', 'Shape__Length'],
      dtype='object')

In [77]:
df.duplicated().sum()

np.int64(0)

In [78]:
df.isna().sum()

OBJECTID                 0
STATEFP10                0
COUNTYFP10               0
TRACTCE10                0
BLKGRPCE10               0
GEOID10                  0
NAMELSAD10               0
geoname                  0
Median_Housing_Value    28
houses                   0
lessthan10k              0
a10kto14999              0
a15kto19999              0
a20kto24999              0
a25kto29999              0
a30kto34999              0
a35kto39999              0
a40kto49999              0
a50kto59999              0
a60kto69999              0
a70kto79999              0
a80kto89999              0
a90kto99999              0
a100kto124999            0
a125kto149999            0
a150kto174999            0
a175kto199999            0
a200kto249999            0
a250kto299999            0
a300kto399999            0
a400kto499999            0
a500kto749999            0
a750kto999999            0
a1Mto1499999             0
a1500000to1999999        0
a2MorMore                0
Units_with_cash_rent     0
MedianGrossRent          0
GlobalID                 0
Shape__Area              0
Shape__Length            0
dtype: int64

In [79]:
# Buckets for housing values
value_cols_low = [ # > $150k
    'lessthan10k','a10kto14999','a15kto19999','a20kto24999',
    'a25kto29999','a30kto34999','a35kto39999','a40kto49999',
    'a50kto59999','a60kto69999','a70kto79999','a80kto89999',
    'a90kto99999','a100kto124999','a125kto149999'
]
value_cols_mid = [ # $150k-400k
    'a150kto174999','a175kto199999','a200kto249999',
    'a250kto299999','a300kto399999'
]
value_cols_high = [ # $ < $400k
    'a400kto499999','a500kto749999','a750kto999999',
    'a1Mto1499999','a1500000to1999999','a2MorMore'
]

all_value_cols = value_cols_low + value_cols_mid + value_cols_high
# Convert values to numbers and handle zeros
for col in all_value_cols + ['houses', 'Median_Housing_Value', 'MedianGrossRent']:
    df[col] = pd.to_numeric(df[col], errors='coerce')
df[['houses','Median_Housing_Value','MedianGrossRent']] = \
    df[['houses','Median_Housing_Value','MedianGrossRent']].replace(0, np.nan)

df['High_Affordability'] = df[value_cols_low].sum(axis=1)
df['Moderate_Affordability']     = df[value_cols_mid].sum(axis=1)
df['Low_Affordability']    = df[value_cols_high].sum(axis=1)
# Create affordability index
df['Affordability_Index'] = df['High_Affordability'] / df['houses']

df.head()

,OBJECTID,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,geoname,Median_Housing_Value,houses,...,a2MorMore,Units_with_cash_rent,MedianGrossRent,GlobalID,Shape__Area,Shape__Length,High_Affordability,Moderate_Affordability,Low_Affordability,Affordability_Index
0,2776,37,119,3808,1,371190038081,Block Group 1,"Block Group 1, Census Tract 38.08, Mecklenburg...",NaN,NaN,...,0,718,864.0,886f1f95-211e-4b01-8f6a-2c5e6a7280ab,3.185037e+06,7767.341578,0,0,0,NaN
1,2777,37,119,5308,1,371190053081,Block Group 1,"Block Group 1, Census Tract 53.08, Mecklenburg...",99300.0,47.0,...,0,707,844.0,91a29768-6fd5-481b-939f-c4301d559794,5.507230e+06,14197.088607,34,6,7,0.723404
2,2778,37,119,5828,1,371190058281,Block Group 1,"Block Group 1, Census Tract 58.28, Mecklenburg...",403300.0,772.0,...,0,115,1210.0,cebeed93-7f44-4f15-ba10-e500bfac9d59,2.112925e+07,29150.969215,46,335,391,0.059585
3,2779,37,119,1508,1,371190015081,Block Group 1,"Block Group 1, Census Tract 15.08, Mecklenburg...",156300.0,659.0,...,0,237,1125.0,88c1fd5d-8291-4f8a-8eeb-6d9df7355942,2.961506e+07,24126.016494,290,369,0,0.440061
4,2780,37,119,1923,2,371190019232,Block Group 2,"Block Group 2, Census Tract 19.23, Mecklenburg...",142300.0,290.0,...,0,126,1361.0,0b52c4b1-77cf-4f55-b259-cc6c5170faed,8.883253e+06,20479.045626,169,121,0,0.582759

In [80]:
df.head()

,OBJECTID,STATEFP10,COUNTYFP10,TRACTCE10,BLKGRPCE10,GEOID10,NAMELSAD10,geoname,Median_Housing_Value,houses,...,a2MorMore,Units_with_cash_rent,MedianGrossRent,GlobalID,Shape__Area,Shape__Length,High_Affordability,Moderate_Affordability,Low_Affordability,Affordability_Index
0,2776,37,119,3808,1,371190038081,Block Group 1,"Block Group 1, Census Tract 38.08, Mecklenburg...",NaN,NaN,...,0,718,864.0,886f1f95-211e-4b01-8f6a-2c5e6a7280ab,3.185037e+06,7767.341578,0,0,0,NaN
1,2777,37,119,5308,1,371190053081,Block Group 1,"Block Group 1, Census Tract 53.08, Mecklenburg...",99300.0,47.0,...,0,707,844.0,91a29768-6fd5-481b-939f-c4301d559794,5.507230e+06,14197.088607,34,6,7,0.723404
2,2778,37,119,5828,1,371190058281,Block Group 1,"Block Group 1, Census Tract 58.28, Mecklenburg...",403300.0,772.0,...,0,115,1210.0,cebeed93-7f44-4f15-ba10-e500bfac9d59,2.112925e+07,29150.969215,46,335,391,0.059585
3,2779,37,119,1508,1,371190015081,Block Group 1,"Block Group 1, Census Tract 15.08, Mecklenburg...",156300.0,659.0,...,0,237,1125.0,88c1fd5d-8291-4f8a-8eeb-6d9df7355942,2.961506e+07,24126.016494,290,369,0,0.440061
4,2780,37,119,1923,2,371190019232,Block Group 2,"Block Group 2, Census Tract 19.23, Mecklenburg...",142300.0,290.0,...,0,126,1361.0,0b52c4b1-77cf-4f55-b259-cc6c5170faed,8.883253e+06,20479.045626,169,121,0,0.582759

In [81]:
# Affordability Category based on Affordability_Index
bins = [0, 0.33, 0.66, 1]
labels = ['Low Affordability', 'Moderate Affordability', 'High Affordability']
df['Affordability_Index_Category'] = pd.cut(df['Affordability_Index'], bins=bins, labels=labels)

# Housing Value Brackets
housing_bins = [0, 150000, 300000, 500000, float('inf')]
housing_labels = ['<150k', '150k-299k', '300k-499k', '>500k']
df['Housing_Value_Range'] = pd.cut(df['Median_Housing_Value'], bins=housing_bins, labels=housing_labels)

# Rent Level Categories
rent_bins = [0, 800, 1500, 2500, float('inf')]
rent_labels = ['<800', '800-1499', '1500-2499', '>2500']
df['Rent_Level'] = pd.cut(df['MedianGrossRent'], bins=rent_bins, labels=rent_labels)

# Percentages of unit types
df['Total_Units'] = df['High_Affordability'] + df['Moderate_Affordability'] + df['Low_Affordability']
df['pct_high_affordbility'] = df['High_Affordability'] / df['Total_Units']
df['pct_moderate_affordbility'] = df['Moderate_Affordability'] / df['Total_Units']
df['pct_low_affordbility'] = df['Low_Affordability'] / df['Total_Units']

# Weighted Housing Value (for aggregation later)
df['Weighted_Housing_Value'] = df['Median_Housing_Value'] * df['houses']

# Affordable units per house
df['Affordable_per_House'] = df['High_Affordability'] / df['houses']

# Simplified Neighborhood / Tract Labels
# Extract block group or tract info from 'geoname'
df['Neighborhood'] = df['geoname'].str.split(',').str[0]

# Log transformations to handle skew
df['Log_Housing_Value'] = np.log1p(df['Median_Housing_Value'])
df['Log_MedianRent'] = np.log1p(df['MedianGrossRent'])

# Combined affordability score for ranking
df['Affordability_Score'] = df['pct_high_affordbility'] - df['pct_low_affordbility']

In [82]:
df.columns

Index(['OBJECTID', 'STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLKGRPCE10',
       'GEOID10', 'NAMELSAD10', 'geoname', 'Median_Housing_Value', 'houses',
       'lessthan10k', 'a10kto14999', 'a15kto19999', 'a20kto24999',
       'a25kto29999', 'a30kto34999', 'a35kto39999', 'a40kto49999',
       'a50kto59999', 'a60kto69999', 'a70kto79999', 'a80kto89999',
       'a90kto99999', 'a100kto124999', 'a125kto149999', 'a150kto174999',
       'a175kto199999', 'a200kto249999', 'a250kto299999', 'a300kto399999',
       'a400kto499999', 'a500kto749999', 'a750kto999999', 'a1Mto1499999',
       'a1500000to1999999', 'a2MorMore', 'Units_with_cash_rent',
       'MedianGrossRent', 'GlobalID', 'Shape__Area', 'Shape__Length',
       'High_Affordability', 'Moderate_Affordability', 'Low_Affordability',
       'Affordability_Index', 'Affordability_Index_Category',
       'Housing_Value_Range', 'Rent_Level', 'Total_Units',
       'pct_high_affordbility', 'pct_moderate_affordbility',
       'pct_low_affordbility', 'Weighted_Housing_Value',
       'Affordable_per_House', 'Neighborhood', 'Log_Housing_Value',
       'Log_MedianRent', 'Affordability_Score'],
      dtype='object')

In [83]:
# Save the enhanced dataset
df.to_csv("Census_Housing_Value_Block_Groups_Processed.csv", index=False)